.card:hover{
    box-shadow: 0px 0px 60px lightcoral;
}
.card-body{
    margin: 0;
    padding: 25px;
    
}
.card-body .right{
    margin-left: 30px;
}
.card-body .right button{
    width: 50px;
    border-radius: 20px;
}